.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between
}

#logo {
  margin-left: 4%;
}

nav {
  list-style: none;
  display: flex;
  width: 40vw;
}

nav li {
  margin-right: 10%;
}

